@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* start global rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
/* End global rules */
section {
  background-color: #e3f2fd;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}

section .container {
  width: 375px;
  height: 225px;
  position: relative;
  z-index: 100;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

header,
.logo {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
}

.logo img {
  width: 48px;
  margin-right: 10px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

.chip {
  width: 60px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

h6 {
  font-weight: 400;
  font-size: 12px;
}

.number {
  font-size: 18px;
  letter-spacing: 1px;
}

.name {
  /* display: flex;
  align-items: flex-end; */
  margin-top: 20px;
}

/* responsiveness */

@media (max-width: 420px) {

  .container {
    height: 225px;
    width: 320px;
  }

  .card-details {
    margin-top: 10px;
  }

  .name {
    margin-top: 10px;
  }
}

@media (max-width: 350px) {

  .container {
    height: 225px;
    width: 280px;
  }

  .card-details {
    margin-top: 30px;
  }

  .name {
    margin-top: 20px;
  }

  .number {
    font-size: 16px;
  }

  .chip {
    width: 40px;
  }
}